[Unit]
Description=Change background with a new nasa image
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=oneshot
WorkingDirectory={SCRIPT_DIRECOTRY}
ExecStart=/usr/bin/python3 {PATH_TO_SCRIPT}

Restart=on-failure
RestartSec=30
StartLimitIntervalSec=10min
StartLimitBurst=5
